/* Shared *********************************************************************/
:root {
    --page-gutter: 1.8cm;
    --page-inner-gutter: 1.0cm;
    font-size: 10pt;
    --std-color-primary-h: 20deg;
    --std-color-primary-s: 50%;
    --std-color-primary-l: 50%;
    --std-color-secondary-h: 200deg;
    --std-color-secondary-s: 50%;
    --std-color-secondary-l: 50%;
}

/* Window *********************************************************************/

html {
    display: flex;
    justify-content: center;
    background-color: var(--std-color-primary-accent);
}

body {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

/* Grid ***********************************************************************/

#GridSystem {
    --gap: 2px;
    pointer-events: none;
    display: flex;
    gap: var(--gap);
    padding: 0 var(--gap);
}
#GridSystem.off {
    display: none;
}
#GridSystem > * {
    flex: 1 0 0;
    text-align: center;
    background-color: hsla(0deg 100% 50% / .03);;
}

/* Page ***********************************************************************/

.Page {
    width: 21cm;
    height: 30cm;
    margin: auto;
    display: flex;
    flex-direction: column;
    page-break-after: always;
    padding: var(--page-gutter);
    background-image: linear-gradient(to right,
        var(--std-color-bg1) 0%,
        var(--std-color-bg1) 50%,
        var(--std-color-bg2) 50%,
        var(--std-color-bg2) 100%
    );
}
.Page {
    border-bottom: 1px solid var(--std-color-primary-accent);
}
@media print {
    .Page {
        border-bottom: unset;
    }
}

.Column {
    display: inline-block;
    width: 50%;
    max-width: 50%;
}
.Column.One {
    float: left;
    padding-inline-end: var(--page-inner-gutter);
}
.Column.Two {
    float: right;
    padding-inline-start: var(--page-inner-gutter);
}

article {
    background-color: var(--std-color-bg1);
}

aside {
    background-color: var(--std-color-bg2);
}

.Contacts {
    display: flex;
    justify-content: center;
    font-size: var(--std-text-body1-size);
    font-weight: var(--std-weight-bold);
    color: var(--std-color-primary-accent);
}

.Contacts svg {
    margin-inline-end: .5em;
}

.Email,
.Phone {
    display: flex;
    align-items: center;
}

.Header {
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    justify-content: flex-end;
}

.Avatar {
    flex-grow: 1;
    height: 10em;
    border-radius: 10em;
    margin-right: var(--page-inner-gutter);
}

.Name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.Name > * {
    line-height: 1;
    letter-spacing: -.01em;
    text-transform: uppercase;
}
.Name .First {
    font-weight: var(--std-weight-thin);
}
.Name .Last {
    font-weight: 700;
}

.Role {
    align-self: center;
    display: inline-block;
    margin-top: .4em;
    padding: .4em 1.5em;
    font-size: var(--std-text-h6-size);
    font-weight: var(--std-weight-medium);
    letter-spacing: .05em;
    text-transform: uppercase;
    color: var(--std-color-bg1);
    background-color: var(--std-color-fg1);
}

.Section {
    margin-bottom: 3em;
}

.Title {
    position: relative;
    margin-bottom: .8em;
    font-size: var(--std-text-subtitle1-size);
    line-height: 1.8;
    letter-spacing: .1em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--std-color-primary-accent);
}
.Title::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: -.5em;
    width: 3em;
    height: 0;
    border-bottom: 1px solid var(--std-color-primary-accent);
}

.SubTitle {
    font-size: var(--std-text-body2-size);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--std-color-primary-tone3);
    margin-top: .4em;
    margin-bottom: .3em;
    letter-spacing: .1em;
}

.Body {
    color: var(--std-color-fg2);
    letter-spacing: .03em;
    text-align: justify;
}

.Experience {
    margin-bottom: 2em;
}

.ExperiencePeriod {
    font-size: var(--std-text-body2-size);
    font-weight: var(--std-weight-medium);
    text-transform: uppercase;
    color: var(--std-color-fg3);
}

.ExperienceName {
    margin-bottom: .1em;
    font-size: var(--std-text-h6-size);
    font-weight: 700;
    color: var(--std-color-fg2);
}

.ExperienceRole {
    margin-bottom: .5em;
    font-size: var(--std-text-subtitle2-size);
    font-weight: 700;
    color: var(--std-color-fg2);
}

.TagsGroup {
    margin-top: .6em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: var(--std-text-body1-size);
    font-weight: var(--std-weight-bold);
}

.Tag {
    border-bottom: 1px solid var(--std-color-primary-accent);
    padding: .2em 0;
    margin-right: 1em;
}

.Why {
    display: flex;
    align-items: center;
    height: 100%;
}
.Why.Body {
    line-height: 1.8;
}
